.elementor-1153 .elementor-element.elementor-element-8243b66 .elementor-button {
    background-color: #0D084E;
    font-weight: 700;
    fill: #FFFFFF;
    color: #FFFFFF;
}

.elementor-1153 .elementor-element.elementor-element-8243b66 .elementor-button:hover,
.elementor-1153 .elementor-element.elementor-element-8243b66 .elementor-button:focus {
    background-color: #000000;
    color: #FFFFFF;
}

.elementor-1153 .elementor-element.elementor-element-8243b66>.elementor-widget-container {
    margin: 0px 0px 0px 0px;
}

.elementor-1153 .elementor-element.elementor-element-8243b66 .elementor-button-content-wrapper {
    flex-direction: row-reverse;
}

.elementor-1153 .elementor-element.elementor-element-8243b66 .elementor-button .elementor-button-content-wrapper {
    gap: 15px;
}

.elementor-1153 .elementor-element.elementor-element-8243b66 .elementor-button:hover svg,
.elementor-1153 .elementor-element.elementor-element-8243b66 .elementor-button:focus svg {
    fill: #FFFFFF;
}

.elementor-1153 .elementor-element.elementor-element-5abe7fe>.elementor-widget-container {
    padding: 14px 0px 0px 0px;
}

.elementor-1153 .elementor-element.elementor-element-5abe7fe {
    text-align: center;
}

.elementor-1153 .elementor-element.elementor-element-dde93cf {
    --icon-box-icon-margin: 15px;
}

.elementor-1153 .elementor-element.elementor-element-dde93cf.elementor-view-stacked .elementor-icon {
    background-color: #0D084E;
}

.elementor-1153 .elementor-element.elementor-element-dde93cf.elementor-view-framed .elementor-icon,
.elementor-1153 .elementor-element.elementor-element-dde93cf.elementor-view-default .elementor-icon {
    fill: #0D084E;
    color: #0D084E;
    border-color: #0D084E;
}

.elementor-1153 .elementor-element.elementor-element-32243bc {
    --icon-box-icon-margin: 15px;
}

.elementor-1153 .elementor-element.elementor-element-32243bc.elementor-view-stacked .elementor-icon {
    background-color: #0D084E;
}

.elementor-1153 .elementor-element.elementor-element-32243bc.elementor-view-framed .elementor-icon,
.elementor-1153 .elementor-element.elementor-element-32243bc.elementor-view-default .elementor-icon {
    fill: #0D084E;
    color: #0D084E;
    border-color: #0D084E;
}

.elementor-1153 .elementor-element.elementor-element-b2af0d7 {
    --icon-box-icon-margin: 15px;
}

.elementor-1153 .elementor-element.elementor-element-b2af0d7.elementor-view-stacked .elementor-icon {
    background-color: #0D084E;
}

.elementor-1153 .elementor-element.elementor-element-b2af0d7.elementor-view-framed .elementor-icon,
.elementor-1153 .elementor-element.elementor-element-b2af0d7.elementor-view-default .elementor-icon {
    fill: #0D084E;
    color: #0D084E;
    border-color: #0D084E;
}

.elementor-1153 .elementor-element.elementor-element-3c55d41>.elementor-widget-container {
    padding: 14px 0px 0px 0px;
}

.elementor-1153 .elementor-element.elementor-element-3c55d41 .elementor-icon-list-icon i {
    transition: color 0.3s;
}

.elementor-1153 .elementor-element.elementor-element-3c55d41 .elementor-icon-list-icon svg {
    transition: fill 0.3s;
}

.elementor-1153 .elementor-element.elementor-element-3c55d41 {
    --e-icon-list-icon-size: 14px;
    --icon-vertical-offset: 0px;
}

.elementor-1153 .elementor-element.elementor-element-3c55d41 .elementor-icon-list-item>.elementor-icon-list-text,
.elementor-1153 .elementor-element.elementor-element-3c55d41 .elementor-icon-list-item>a {
    font-size: 21px;
    font-weight: 600;
}

.elementor-1153 .elementor-element.elementor-element-3c55d41 .elementor-icon-list-text {
    color: #000000;
    transition: color 0.3s;
}

.elementor-1153 .elementor-element.elementor-element-d3e94ab {
    --grid-template-columns: repeat(0, auto);
    --icon-size: 18px;
    --grid-column-gap: 5px;
    --grid-row-gap: 0px;
}

.elementor-1153 .elementor-element.elementor-element-d3e94ab .elementor-widget-container {
    text-align: center;
}

.elementor-1153 .elementor-element.elementor-element-d3e94ab>.elementor-widget-container {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-1153 .elementor-element.elementor-element-d3e94ab .elementor-social-icon {
    background-color: #0D084E;
}

.elementor-1153 .elementor-element.elementor-element-d3e94ab .elementor-social-icon i {
    color: #FFFFFF;
}

.elementor-1153 .elementor-element.elementor-element-d3e94ab .elementor-social-icon svg {
    fill: #FFFFFF;
}

.elementor-1153 .elementor-element.elementor-element-4d61bbd {
    --divider-border-style: solid;
    --divider-color: #0D084E;
    --divider-border-width: 10px;
}

.elementor-1153 .elementor-element.elementor-element-4d61bbd .elementor-divider-separator {
    width: 100%;
}

.elementor-1153 .elementor-element.elementor-element-4d61bbd .elementor-divider {
    padding-block-start: 15px;
    padding-block-end: 15px;
}

.elementor-1153 .elementor-element.elementor-element-7170c14 {
    margin-top: -25px;
    margin-bottom: 0px;
}

.elementor-1153 .elementor-element.elementor-element-72abc8c>.elementor-element-populated {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-1153 .elementor-element.elementor-element-72abc8c>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-1153 .elementor-element.elementor-element-340eb59>.elementor-widget-container {
    background-color: #000000;
    padding: 6px 6px 6px 6px;
    border-radius: 10px 10px 10px 10px;
}

.elementor-1153 .elementor-element.elementor-element-eba48fe .elementor-icon-list-icon i {
    transition: color 0.3s;
}

.elementor-1153 .elementor-element.elementor-element-eba48fe .elementor-icon-list-icon svg {
    transition: fill 0.3s;
}

.elementor-1153 .elementor-element.elementor-element-eba48fe {
    --e-icon-list-icon-size: 14px;
    --icon-vertical-offset: 0px;
}

.elementor-1153 .elementor-element.elementor-element-eba48fe .elementor-icon-list-item>.elementor-icon-list-text,
.elementor-1153 .elementor-element.elementor-element-eba48fe .elementor-icon-list-item>a {
    font-size: 21px;
    font-weight: 600;
}

.elementor-1153 .elementor-element.elementor-element-eba48fe .elementor-icon-list-text {
    color: #000000;
    transition: color 0.3s;
}

.elementor-1153 .elementor-element.elementor-element-22eee2a .elementor-icon-list-icon i {
    color: #303030;
    transition: color 0.3s;
}

.elementor-1153 .elementor-element.elementor-element-22eee2a .elementor-icon-list-icon svg {
    fill: #303030;
    transition: fill 0.3s;
}

.elementor-1153 .elementor-element.elementor-element-22eee2a {
    --e-icon-list-icon-size: 14px;
    --icon-vertical-offset: 0px;
}

.elementor-1153 .elementor-element.elementor-element-22eee2a .elementor-icon-list-item>.elementor-icon-list-text,
.elementor-1153 .elementor-element.elementor-element-22eee2a .elementor-icon-list-item>a {
    font-weight: 600;
}

.elementor-1153 .elementor-element.elementor-element-22eee2a .elementor-icon-list-text {
    color: #000000;
    transition: color 0.3s;
}

.elementor-1153 .elementor-element.elementor-element-1f189ea .elementor-icon-list-icon i {
    transition: color 0.3s;
}

.elementor-1153 .elementor-element.elementor-element-1f189ea .elementor-icon-list-icon svg {
    transition: fill 0.3s;
}

.elementor-1153 .elementor-element.elementor-element-1f189ea {
    --e-icon-list-icon-size: 14px;
    --icon-vertical-offset: 0px;
}

.elementor-1153 .elementor-element.elementor-element-1f189ea .elementor-icon-list-item>.elementor-icon-list-text,
.elementor-1153 .elementor-element.elementor-element-1f189ea .elementor-icon-list-item>a {
    font-size: 21px;
    font-weight: 600;
}

.elementor-1153 .elementor-element.elementor-element-1f189ea .elementor-icon-list-text {
    color: #000000;
    transition: color 0.3s;
}

.elementor-1153 .elementor-element.elementor-element-426ffe0 .elementor-icon-list-icon i {
    color: #303030;
    transition: color 0.3s;
}

.elementor-1153 .elementor-element.elementor-element-426ffe0 .elementor-icon-list-icon svg {
    fill: #303030;
    transition: fill 0.3s;
}

.elementor-1153 .elementor-element.elementor-element-426ffe0 {
    --e-icon-list-icon-size: 14px;
    --icon-vertical-offset: 0px;
}

.elementor-1153 .elementor-element.elementor-element-426ffe0 .elementor-icon-list-item>.elementor-icon-list-text,
.elementor-1153 .elementor-element.elementor-element-426ffe0 .elementor-icon-list-item>a {
    font-weight: 600;
}

.elementor-1153 .elementor-element.elementor-element-426ffe0 .elementor-icon-list-text {
    color: #000000;
    transition: color 0.3s;
}

.elementor-1153 .elementor-element.elementor-element-3733eb6 .elementor-icon-list-icon i {
    transition: color 0.3s;
}

.elementor-1153 .elementor-element.elementor-element-3733eb6 .elementor-icon-list-icon svg {
    transition: fill 0.3s;
}

.elementor-1153 .elementor-element.elementor-element-3733eb6 {
    --e-icon-list-icon-size: 14px;
    --icon-vertical-offset: 0px;
}

.elementor-1153 .elementor-element.elementor-element-3733eb6 .elementor-icon-list-item>.elementor-icon-list-text,
.elementor-1153 .elementor-element.elementor-element-3733eb6 .elementor-icon-list-item>a {
    font-size: 21px;
    font-weight: 600;
}

.elementor-1153 .elementor-element.elementor-element-3733eb6 .elementor-icon-list-text {
    color: #000000;
    transition: color 0.3s;
}

.elementor-1153 .elementor-element.elementor-element-0cb7b1e .elementor-icon-list-icon i {
    color: #303030;
    transition: color 0.3s;
}

.elementor-1153 .elementor-element.elementor-element-0cb7b1e .elementor-icon-list-icon svg {
    fill: #303030;
    transition: fill 0.3s;
}

.elementor-1153 .elementor-element.elementor-element-0cb7b1e {
    --e-icon-list-icon-size: 14px;
    --icon-vertical-offset: 0px;
}

.elementor-1153 .elementor-element.elementor-element-0cb7b1e .elementor-icon-list-item>.elementor-icon-list-text,
.elementor-1153 .elementor-element.elementor-element-0cb7b1e .elementor-icon-list-item>a {
    font-weight: 600;
}

.elementor-1153 .elementor-element.elementor-element-0cb7b1e .elementor-icon-list-text {
    color: #000000;
    transition: color 0.3s;
}

.elementor-1153 .elementor-element.elementor-element-a768f2d .elementor-icon-list-icon i {
    transition: color 0.3s;
}

.elementor-1153 .elementor-element.elementor-element-a768f2d .elementor-icon-list-icon svg {
    transition: fill 0.3s;
}

.elementor-1153 .elementor-element.elementor-element-a768f2d {
    --e-icon-list-icon-size: 14px;
    --icon-vertical-offset: 0px;
}

.elementor-1153 .elementor-element.elementor-element-a768f2d .elementor-icon-list-item>.elementor-icon-list-text,
.elementor-1153 .elementor-element.elementor-element-a768f2d .elementor-icon-list-item>a {
    font-size: 21px;
    font-weight: 600;
}

.elementor-1153 .elementor-element.elementor-element-a768f2d .elementor-icon-list-text {
    color: #000000;
    transition: color 0.3s;
}

.elementor-1153 .elementor-element.elementor-element-371290e .elementor-icon-list-icon i {
    color: #303030;
    transition: color 0.3s;
}

.elementor-1153 .elementor-element.elementor-element-371290e .elementor-icon-list-icon svg {
    fill: #303030;
    transition: fill 0.3s;
}

.elementor-1153 .elementor-element.elementor-element-371290e {
    --e-icon-list-icon-size: 14px;
    --e-icon-list-icon-align: left;
    --e-icon-list-icon-margin: 0 calc(var(--e-icon-list-icon-size, 1em) * 0.25) 0 0;
    --icon-vertical-offset: 0px;
}

.elementor-1153 .elementor-element.elementor-element-371290e .elementor-icon-list-item>.elementor-icon-list-text,
.elementor-1153 .elementor-element.elementor-element-371290e .elementor-icon-list-item>a {
    font-family: "Arial", Sans-serif;
    font-weight: 300;
}

.elementor-1153 .elementor-element.elementor-element-371290e .elementor-icon-list-text {
    color: #000000;
    transition: color 0.3s;
}

.elementor-1153 .elementor-element.elementor-element-a1d7ce2 {
    text-align: center;
}

@media(min-width:768px) {
    .elementor-1153 .elementor-element.elementor-element-e34099e {
        width: 17.768%;
    }
    .elementor-1153 .elementor-element.elementor-element-7d7f45b {
        width: 22.232%;
    }
}

@media(max-width:767px) {
    .elementor-1153 .elementor-element.elementor-element-5abe7fe {
        text-align: center;
    }
    .elementor-1153 .elementor-element.elementor-element-d3e94ab .elementor-widget-container {
        text-align: center;
    }
    .elementor-1153 .elementor-element.elementor-element-e34099e {
        width: 100%;
    }
    .elementor-1153 .elementor-element.elementor-element-7d7f45b {
        width: 100%;
    }
    .elementor-1153 .elementor-element.elementor-element-562a337 {
        width: 100%;
    }
    .elementor-1153 .elementor-element.elementor-element-ba7423a {
        width: 100%;
    }
}