.elementor-1593 .elementor-element.elementor-element-c0ae15f:not(.elementor-motion-effects-element-type-background),
.elementor-1593 .elementor-element.elementor-element-c0ae15f>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #0D084E;
}

.elementor-1593 .elementor-element.elementor-element-c0ae15f>.elementor-container {
    max-width: 1379px;
}

.elementor-1593 .elementor-element.elementor-element-c0ae15f {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-1593 .elementor-element.elementor-element-c0ae15f>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-1593 .elementor-element.elementor-element-98ba238>.elementor-widget-container {
    margin: 30px 0px 0px 0px;
}

.elementor-1593 .elementor-element.elementor-element-2c7f99e {
    text-align: left;
}

.elementor-1593 .elementor-element.elementor-element-2c7f99e .elementor-heading-title {
    font-family: "Lato", Sans-serif;
    font-size: 20px;
    font-weight: 700;
    color: #FFFFFF;
}

.elementor-1593 .elementor-element.elementor-element-ab484e8 .elementor-icon-list-icon i {
    color: #FFFFFF;
    transition: color 0.3s;
}

.elementor-1593 .elementor-element.elementor-element-ab484e8 .elementor-icon-list-icon svg {
    fill: #FFFFFF;
    transition: fill 0.3s;
}

.elementor-1593 .elementor-element.elementor-element-ab484e8 {
    --e-icon-list-icon-size: 14px;
    --icon-vertical-offset: 0px;
}

.elementor-1593 .elementor-element.elementor-element-ab484e8 .elementor-icon-list-text {
    color: #FFFFFF;
    transition: color 0.3s;
}

.elementor-1593 .elementor-element.elementor-element-5014708 .elementor-icon-list-icon i {
    color: #FFFFFF;
    transition: color 0.3s;
}

.elementor-1593 .elementor-element.elementor-element-5014708 .elementor-icon-list-icon svg {
    fill: #FFFFFF;
    transition: fill 0.3s;
}

.elementor-1593 .elementor-element.elementor-element-5014708 {
    --e-icon-list-icon-size: 14px;
    --icon-vertical-offset: 0px;
}

.elementor-1593 .elementor-element.elementor-element-5014708 .elementor-icon-list-text {
    color: #FFFFFF;
    transition: color 0.3s;
}

.elementor-1593 .elementor-element.elementor-element-f723f87 .elementor-icon-list-icon i {
    color: #FFFFFF;
    transition: color 0.3s;
}

.elementor-1593 .elementor-element.elementor-element-f723f87 .elementor-icon-list-icon svg {
    fill: #FFFFFF;
    transition: fill 0.3s;
}

.elementor-1593 .elementor-element.elementor-element-f723f87 {
    --e-icon-list-icon-size: 14px;
    --icon-vertical-offset: 0px;
}

.elementor-1593 .elementor-element.elementor-element-f723f87 .elementor-icon-list-text {
    color: #FFFFFF;
    transition: color 0.3s;
}

.elementor-1593 .elementor-element.elementor-element-7b6e6ee>.elementor-element-populated {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-1593 .elementor-element.elementor-element-7b6e6ee>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-1593 .elementor-element.elementor-element-6a09626 {
    --grid-template-columns: repeat(0, auto);
    --icon-size: 14px;
    --grid-column-gap: 5px;
    --grid-row-gap: 0px;
}

.elementor-1593 .elementor-element.elementor-element-6a09626 .elementor-widget-container {
    text-align: center;
}

.elementor-1593 .elementor-element.elementor-element-0eaf038 {
    margin-top: -10px;
    margin-bottom: 0px;
}

.elementor-1593 .elementor-element.elementor-element-eca26ef {
    --divider-border-style: solid;
    --divider-color: #CBCBCB;
    --divider-border-width: 1px;
}

.elementor-1593 .elementor-element.elementor-element-eca26ef>.elementor-widget-container {
    margin: -8px 0px 0px 0px;
}

.elementor-1593 .elementor-element.elementor-element-eca26ef .elementor-divider-separator {
    width: 100%;
}

.elementor-1593 .elementor-element.elementor-element-eca26ef .elementor-divider {
    padding-block-start: 12px;
    padding-block-end: 12px;
}

.elementor-1593 .elementor-element.elementor-element-4c3f279 .menu-item a.hfe-menu-item {
    padding-left: 10px;
    padding-right: 10px;
}

.elementor-1593 .elementor-element.elementor-element-4c3f279 .menu-item a.hfe-sub-menu-item {
    padding-left: calc( 10px + 20px);
    padding-right: 10px;
}

.elementor-1593 .elementor-element.elementor-element-4c3f279 .hfe-nav-menu__layout-vertical .menu-item ul ul a.hfe-sub-menu-item {
    padding-left: calc( 10px + 40px);
    padding-right: 10px;
}

.elementor-1593 .elementor-element.elementor-element-4c3f279 .hfe-nav-menu__layout-vertical .menu-item ul ul ul a.hfe-sub-menu-item {
    padding-left: calc( 10px + 60px);
    padding-right: 10px;
}

.elementor-1593 .elementor-element.elementor-element-4c3f279 .hfe-nav-menu__layout-vertical .menu-item ul ul ul ul a.hfe-sub-menu-item {
    padding-left: calc( 10px + 80px);
    padding-right: 10px;
}

.elementor-1593 .elementor-element.elementor-element-4c3f279 .menu-item a.hfe-menu-item,
.elementor-1593 .elementor-element.elementor-element-4c3f279 .menu-item a.hfe-sub-menu-item {
    padding-top: 11px;
    padding-bottom: 11px;
}

.elementor-1593 .elementor-element.elementor-element-4c3f279 ul.sub-menu {
    width: 2px;
}

.elementor-1593 .elementor-element.elementor-element-4c3f279 .sub-menu li a.hfe-sub-menu-item,
.elementor-1593 .elementor-element.elementor-element-4c3f279 nav.hfe-dropdown li a.hfe-menu-item,
.elementor-1593 .elementor-element.elementor-element-4c3f279 nav.hfe-dropdown-expandible li a.hfe-menu-item {
    padding-left: 18px;
    padding-right: 18px;
}

.elementor-1593 .elementor-element.elementor-element-4c3f279 nav.hfe-dropdown-expandible a.hfe-sub-menu-item,
.elementor-1593 .elementor-element.elementor-element-4c3f279 nav.hfe-dropdown li a.hfe-sub-menu-item {
    padding-left: calc( 18px + 20px);
    padding-right: 18px;
}

.elementor-1593 .elementor-element.elementor-element-4c3f279 .hfe-dropdown .menu-item ul ul a.hfe-sub-menu-item,
.elementor-1593 .elementor-element.elementor-element-4c3f279 .hfe-dropdown-expandible .menu-item ul ul a.hfe-sub-menu-item {
    padding-left: calc( 18px + 40px);
    padding-right: 18px;
}

.elementor-1593 .elementor-element.elementor-element-4c3f279 .hfe-dropdown .menu-item ul ul ul a.hfe-sub-menu-item,
.elementor-1593 .elementor-element.elementor-element-4c3f279 .hfe-dropdown-expandible .menu-item ul ul ul a.hfe-sub-menu-item {
    padding-left: calc( 18px + 60px);
    padding-right: 18px;
}

.elementor-1593 .elementor-element.elementor-element-4c3f279 .hfe-dropdown .menu-item ul ul ul ul a.hfe-sub-menu-item,
.elementor-1593 .elementor-element.elementor-element-4c3f279 .hfe-dropdown-expandible .menu-item ul ul ul ul a.hfe-sub-menu-item {
    padding-left: calc( 18px + 80px);
    padding-right: 18px;
}

.elementor-1593 .elementor-element.elementor-element-4c3f279 .sub-menu a.hfe-sub-menu-item,
.elementor-1593 .elementor-element.elementor-element-4c3f279 nav.hfe-dropdown li a.hfe-menu-item,
.elementor-1593 .elementor-element.elementor-element-4c3f279 nav.hfe-dropdown li a.hfe-sub-menu-item,
.elementor-1593 .elementor-element.elementor-element-4c3f279 nav.hfe-dropdown-expandible li a.hfe-menu-item,
.elementor-1593 .elementor-element.elementor-element-4c3f279 nav.hfe-dropdown-expandible li a.hfe-sub-menu-item {
    padding-top: 13px;
    padding-bottom: 13px;
}

.elementor-1593 .elementor-element.elementor-element-4c3f279 nav.hfe-nav-menu__layout-horizontal:not(.hfe-dropdown) ul.sub-menu,
.elementor-1593 .elementor-element.elementor-element-4c3f279 nav.hfe-nav-menu__layout-expandible.menu-is-active,
.elementor-1593 .elementor-element.elementor-element-4c3f279 nav.hfe-nav-menu__layout-vertical:not(.hfe-dropdown) ul.sub-menu {
    margin-top: 9px;
}

.elementor-1593 .elementor-element.elementor-element-4c3f279 .hfe-dropdown.menu-is-active {
    margin-top: 9px;
}

.elementor-1593 .elementor-element.elementor-element-4c3f279>.elementor-widget-container {
    margin: -6px 0px 0px 0px;
}

.elementor-1593 .elementor-element.elementor-element-4c3f279 .hfe-nav-menu__toggle {
    margin: 0 auto;
}

.elementor-1593 .elementor-element.elementor-element-4c3f279 .menu-item a.hfe-menu-item,
.elementor-1593 .elementor-element.elementor-element-4c3f279 .sub-menu a.hfe-sub-menu-item {
    color: #FFFFFF;
}

.elementor-1593 .elementor-element.elementor-element-4c3f279 .sub-menu a.hfe-sub-menu-item,
.elementor-1593 .elementor-element.elementor-element-4c3f279 .elementor-menu-toggle,
.elementor-1593 .elementor-element.elementor-element-4c3f279 nav.hfe-dropdown li a.hfe-menu-item,
.elementor-1593 .elementor-element.elementor-element-4c3f279 nav.hfe-dropdown li a.hfe-sub-menu-item,
.elementor-1593 .elementor-element.elementor-element-4c3f279 nav.hfe-dropdown-expandible li a.hfe-menu-item,
.elementor-1593 .elementor-element.elementor-element-4c3f279 nav.hfe-dropdown-expandible li a.hfe-sub-menu-item {
    color: #FFFFFF;
}

.elementor-1593 .elementor-element.elementor-element-4c3f279 .sub-menu,
.elementor-1593 .elementor-element.elementor-element-4c3f279 nav.hfe-dropdown,
.elementor-1593 .elementor-element.elementor-element-4c3f279 nav.hfe-dropdown-expandible,
.elementor-1593 .elementor-element.elementor-element-4c3f279 nav.hfe-dropdown .menu-item a.hfe-menu-item,
.elementor-1593 .elementor-element.elementor-element-4c3f279 nav.hfe-dropdown .menu-item a.hfe-sub-menu-item {
    background-color: #313B4E;
}

.elementor-1593 .elementor-element.elementor-element-4c3f279 .sub-menu li.menu-item:not(:last-child),
.elementor-1593 .elementor-element.elementor-element-4c3f279 nav.hfe-dropdown li.menu-item:not(:last-child),
.elementor-1593 .elementor-element.elementor-element-4c3f279 nav.hfe-dropdown-expandible li.menu-item:not(:last-child) {
    border-bottom-style: none;
}

.elementor-1593 .elementor-element.elementor-element-4c3f279 div.hfe-nav-menu-icon {
    color: #FFFFFF;
}

.elementor-1593 .elementor-element.elementor-element-4c3f279 div.hfe-nav-menu-icon svg {
    fill: #FFFFFF;
}

.elementor-1593 .elementor-element.elementor-element-0b0808e:not(.elementor-motion-effects-element-type-background),
.elementor-1593 .elementor-element.elementor-element-0b0808e>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #0D084E;
}

.elementor-1593 .elementor-element.elementor-element-0b0808e {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-1593 .elementor-element.elementor-element-0b0808e>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-1593 .elementor-element.elementor-element-7ad6f32 .elementor-icon-list-icon i {
    color: #FFFFFF;
    transition: color 0.3s;
}

.elementor-1593 .elementor-element.elementor-element-7ad6f32 .elementor-icon-list-icon svg {
    fill: #FFFFFF;
    transition: fill 0.3s;
}

.elementor-1593 .elementor-element.elementor-element-7ad6f32 {
    --e-icon-list-icon-size: 14px;
    --icon-vertical-offset: 0px;
}

.elementor-1593 .elementor-element.elementor-element-7ad6f32 .elementor-icon-list-text {
    color: #FFFFFF;
    transition: color 0.3s;
}

.elementor-1593 .elementor-element.elementor-element-577f731 .elementor-icon-list-icon i {
    color: #FFFFFF;
    transition: color 0.3s;
}

.elementor-1593 .elementor-element.elementor-element-577f731 .elementor-icon-list-icon svg {
    fill: #FFFFFF;
    transition: fill 0.3s;
}

.elementor-1593 .elementor-element.elementor-element-577f731 {
    --e-icon-list-icon-size: 14px;
    --icon-vertical-offset: 0px;
}

.elementor-1593 .elementor-element.elementor-element-577f731 .elementor-icon-list-text {
    color: #FFFFFF;
    transition: color 0.3s;
}

.elementor-1593 .elementor-element.elementor-element-945f9e2 .elementor-icon-list-icon i {
    color: #FFFFFF;
    transition: color 0.3s;
}

.elementor-1593 .elementor-element.elementor-element-945f9e2 .elementor-icon-list-icon svg {
    fill: #FFFFFF;
    transition: fill 0.3s;
}

.elementor-1593 .elementor-element.elementor-element-945f9e2 {
    --e-icon-list-icon-size: 14px;
    --icon-vertical-offset: 0px;
}

.elementor-1593 .elementor-element.elementor-element-945f9e2 .elementor-icon-list-text {
    color: #FFFFFF;
    transition: color 0.3s;
}

.elementor-1593 .elementor-element.elementor-element-357a163 .menu-item a.hfe-menu-item {
    padding-left: 10px;
    padding-right: 10px;
}

.elementor-1593 .elementor-element.elementor-element-357a163 .menu-item a.hfe-sub-menu-item {
    padding-left: calc( 10px + 20px);
    padding-right: 10px;
}

.elementor-1593 .elementor-element.elementor-element-357a163 .hfe-nav-menu__layout-vertical .menu-item ul ul a.hfe-sub-menu-item {
    padding-left: calc( 10px + 40px);
    padding-right: 10px;
}

.elementor-1593 .elementor-element.elementor-element-357a163 .hfe-nav-menu__layout-vertical .menu-item ul ul ul a.hfe-sub-menu-item {
    padding-left: calc( 10px + 60px);
    padding-right: 10px;
}

.elementor-1593 .elementor-element.elementor-element-357a163 .hfe-nav-menu__layout-vertical .menu-item ul ul ul ul a.hfe-sub-menu-item {
    padding-left: calc( 10px + 80px);
    padding-right: 10px;
}

.elementor-1593 .elementor-element.elementor-element-357a163 .menu-item a.hfe-menu-item,
.elementor-1593 .elementor-element.elementor-element-357a163 .menu-item a.hfe-sub-menu-item {
    padding-top: 11px;
    padding-bottom: 11px;
}

.elementor-1593 .elementor-element.elementor-element-357a163 ul.sub-menu {
    width: 2px;
}

.elementor-1593 .elementor-element.elementor-element-357a163 .sub-menu li a.hfe-sub-menu-item,
.elementor-1593 .elementor-element.elementor-element-357a163 nav.hfe-dropdown li a.hfe-menu-item,
.elementor-1593 .elementor-element.elementor-element-357a163 nav.hfe-dropdown-expandible li a.hfe-menu-item {
    padding-left: 18px;
    padding-right: 18px;
}

.elementor-1593 .elementor-element.elementor-element-357a163 nav.hfe-dropdown-expandible a.hfe-sub-menu-item,
.elementor-1593 .elementor-element.elementor-element-357a163 nav.hfe-dropdown li a.hfe-sub-menu-item {
    padding-left: calc( 18px + 20px);
    padding-right: 18px;
}

.elementor-1593 .elementor-element.elementor-element-357a163 .hfe-dropdown .menu-item ul ul a.hfe-sub-menu-item,
.elementor-1593 .elementor-element.elementor-element-357a163 .hfe-dropdown-expandible .menu-item ul ul a.hfe-sub-menu-item {
    padding-left: calc( 18px + 40px);
    padding-right: 18px;
}

.elementor-1593 .elementor-element.elementor-element-357a163 .hfe-dropdown .menu-item ul ul ul a.hfe-sub-menu-item,
.elementor-1593 .elementor-element.elementor-element-357a163 .hfe-dropdown-expandible .menu-item ul ul ul a.hfe-sub-menu-item {
    padding-left: calc( 18px + 60px);
    padding-right: 18px;
}

.elementor-1593 .elementor-element.elementor-element-357a163 .hfe-dropdown .menu-item ul ul ul ul a.hfe-sub-menu-item,
.elementor-1593 .elementor-element.elementor-element-357a163 .hfe-dropdown-expandible .menu-item ul ul ul ul a.hfe-sub-menu-item {
    padding-left: calc( 18px + 80px);
    padding-right: 18px;
}

.elementor-1593 .elementor-element.elementor-element-357a163 .sub-menu a.hfe-sub-menu-item,
.elementor-1593 .elementor-element.elementor-element-357a163 nav.hfe-dropdown li a.hfe-menu-item,
.elementor-1593 .elementor-element.elementor-element-357a163 nav.hfe-dropdown li a.hfe-sub-menu-item,
.elementor-1593 .elementor-element.elementor-element-357a163 nav.hfe-dropdown-expandible li a.hfe-menu-item,
.elementor-1593 .elementor-element.elementor-element-357a163 nav.hfe-dropdown-expandible li a.hfe-sub-menu-item {
    padding-top: 13px;
    padding-bottom: 13px;
}

.elementor-1593 .elementor-element.elementor-element-357a163 nav.hfe-nav-menu__layout-horizontal:not(.hfe-dropdown) ul.sub-menu,
.elementor-1593 .elementor-element.elementor-element-357a163 nav.hfe-nav-menu__layout-expandible.menu-is-active,
.elementor-1593 .elementor-element.elementor-element-357a163 nav.hfe-nav-menu__layout-vertical:not(.hfe-dropdown) ul.sub-menu {
    margin-top: 9px;
}

.elementor-1593 .elementor-element.elementor-element-357a163 .hfe-dropdown.menu-is-active {
    margin-top: 9px;
}

.elementor-1593 .elementor-element.elementor-element-357a163>.elementor-widget-container {
    margin: -6px 0px 0px 0px;
}

.elementor-1593 .elementor-element.elementor-element-357a163 .hfe-nav-menu__toggle {
    margin-right: auto;
}

.elementor-1593 .elementor-element.elementor-element-357a163 .menu-item a.hfe-menu-item,
.elementor-1593 .elementor-element.elementor-element-357a163 .sub-menu a.hfe-sub-menu-item {
    color: #FFFFFF;
}

.elementor-1593 .elementor-element.elementor-element-357a163 .sub-menu a.hfe-sub-menu-item,
.elementor-1593 .elementor-element.elementor-element-357a163 .elementor-menu-toggle,
.elementor-1593 .elementor-element.elementor-element-357a163 nav.hfe-dropdown li a.hfe-menu-item,
.elementor-1593 .elementor-element.elementor-element-357a163 nav.hfe-dropdown li a.hfe-sub-menu-item,
.elementor-1593 .elementor-element.elementor-element-357a163 nav.hfe-dropdown-expandible li a.hfe-menu-item,
.elementor-1593 .elementor-element.elementor-element-357a163 nav.hfe-dropdown-expandible li a.hfe-sub-menu-item {
    color: #FFFFFF;
}

.elementor-1593 .elementor-element.elementor-element-357a163 .sub-menu li.menu-item:not(:last-child),
.elementor-1593 .elementor-element.elementor-element-357a163 nav.hfe-dropdown li.menu-item:not(:last-child),
.elementor-1593 .elementor-element.elementor-element-357a163 nav.hfe-dropdown-expandible li.menu-item:not(:last-child) {
    border-bottom-style: none;
}

.elementor-1593 .elementor-element.elementor-element-357a163 div.hfe-nav-menu-icon {
    color: #000000;
}

.elementor-1593 .elementor-element.elementor-element-357a163 div.hfe-nav-menu-icon svg {
    fill: #000000;
}

.elementor-1593 .elementor-element.elementor-element-357a163 .hfe-nav-menu-icon {
    background-color: #FFFFFF;
    padding: 0.35em;
}

@media(max-width:767px) {
    .elementor-1593 .elementor-element.elementor-element-0b0808e {
        padding: 7px 0px 0px 0px;
    }
    .elementor-1593 .elementor-element.elementor-element-a96169c {
        width: 40%;
    }
    .elementor-1593 .elementor-element.elementor-element-ff86cc8>.elementor-widget-container {
        margin: 50px 0px 0px 0px;
    }
    .elementor-1593 .elementor-element.elementor-element-1f8460a {
        width: 60%;
    }
    .elementor-1593 .elementor-element.elementor-element-357a163 .hfe-nav-menu-icon {
        font-size: 30px;
        border-width: 0px;
        padding: 0.35em;
        border-radius: 10px;
    }
    .elementor-1593 .elementor-element.elementor-element-357a163 .hfe-nav-menu-icon svg {
        font-size: 30px;
        line-height: 30px;
        height: 30px;
        width: 30px;
    }
    .elementor-1593 .elementor-element.elementor-element-357a163>.elementor-widget-container {
        margin: 0px 0px 0px 0px;
    }
}

@media(min-width:768px) {
    .elementor-1593 .elementor-element.elementor-element-41d58e4 {
        width: 12.155%;
    }
    .elementor-1593 .elementor-element.elementor-element-1e1b18c {
        width: 87.845%;
    }
    .elementor-1593 .elementor-element.elementor-element-36f3b73 {
        width: 29%;
    }
    .elementor-1593 .elementor-element.elementor-element-bfe06d7 {
        width: 20%;
    }
    .elementor-1593 .elementor-element.elementor-element-236bfe1 {
        width: 17%;
    }
    .elementor-1593 .elementor-element.elementor-element-ec3cbda {
        width: 22.981%;
    }
    .elementor-1593 .elementor-element.elementor-element-7b6e6ee {
        width: 11%;
    }
}